<carousel >
    <slide> 
      <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0df3ee6eb028a997d3d7/1553731060735/1.png?format=300w" alt="first slide">

    </slide>
    <slide>
      <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0df415fcc07c13265e55/1553731062016/2.png?format=300w" alt="second slide">

    </slide>
    <slide>
      <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0df69140b7f15db5ad11/1553731063693/3.png?format=300w" alt="third slide">

    </slide>
    <slide>
        <img  class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0df9652dea8c30ff7b12/1553731094350/4.png?format=300w" alt="third slide">

      </slide>
      <slide>
          <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0dfbf4e1fc17bb17d967/1553731068632/5.png?format=300w" alt="third slide">

        </slide>

        <slide>
            <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0dfd6e9a7f0d39c8d3db/1553731071132/6.png?format=300w" alt="third slide">

          </slide>

      <slide>
          <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0e01b208fc75b389de93/1553731073943/7.png?format=300w" alt="third slide" >

        </slide>

      <slide>
          <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0e03fa0d606f26a2a976/1553731075874/8.png?format=300w" alt="third slide" >

        </slide>

      <slide>
          <img class="tales" src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/5c9c0df2f4e1fc17bb17d8b5/5c9c0e05f4e1fc17bb17da23/1553731094357/9.png?format=300w" alt="third slide">

        </slide>




  </carousel>