<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="utf-8">

	<title> Jason Almaraz | User Experience Designer </title>
	<!-- Boostrap CSS from a CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


     <!--Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body style="background-color:#ECECEC">
    <div class="row featurette">
        <div class="col-md-7"> 
            <h2 class="leftText"> Canvas Redesign </h2>
            <p class="lead">Canvas is an educational management system that allows schools K-12 and universities to organize their classes so that students have access to class information and assignments, which are managed by staff. It provides features such as a discussion forum, inbox, calendar, and upcoming tasks for communication and convenience.
        
             </p>
          </div>
        <div class="col-md-5">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500" ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto canvas"  src="http://www.mtsac.edu/olsc/newsfeed/images/canvas_logo_vert_full.png" height="250" width="250" Alt="SRS image" > 
          <br><br>
  
          </div>
      </div>

      <div class="container card">

          <h1>Key Results and Recommendations</h1>
          <p>
              In our redesign, we have made changes in:  
          </p> 
              <ul> 
                <li>Improving the navigation to the peer review page and the visibility of elements on that page. </li>
                
                <li>Improvements on ways of engagement in the Discussion board </li>

                
               <li> Improvements on the intuitiveness of the multi-level navigation bar section. </li>
                
               <li>Standardized the homepage with weekly categories </li>
            </ul>
                
          <h2 class="mt-4">User Research  </h2>
          <h5><span class="text-muted">Description of Methods.</span></h5>
          
          <p> <strong>Interivews</strong> </p>
          <ul class="bulletStyle"> <li> The primary method used in this study was interviews. We aimed to interview participants of our target population: university students. Each of our group members contacted two university students whom we had connections with and requested a 30 minute to an hour time for interview. Interviews were conducted in a 2-to-1 format, where one person from the group was responsible for being the lead interviewer and another person was the notetaker, both interviewing the participant. Each interview started with the groups members giving the participants an interview consent form to agree and sign. Then the lead interviewer proceeded with the interview protocol, and the designated note taker recorded the answers of the interviewee on a typed document. Due to conflicting schedules some interviews were done on a 1 to 1 format, with an moderator both asking questions and taking note of answers. 
            </li>
          </ul>

          <p> <strong>Surveys</strong> </p>
          <ul class="bulletStyle"> <li>  The secondary method of research was gathering data through surveys. We created a survey based on our interview protocol, prompting similar types of responses. The survey was created on a Google Forum and posted on public, student-based pages on Facebook. The survey results provided the group with mostly quantitative data on the target population and their attitudes toward Canvas.
              </li>
          </ul>
      </div>

      <div class="container card">
          <div class="row">
              <div class="column-66 col-md-6">

                <h2 class="mt-4"> Findings </h2>
                <h5><span class="text-muted">How students look for answers</span></h5>
              
                  <ul class="bulletStyle"> <li> Although course information is displayed online for all to view, some information may still seem unclear. For those who would like to further ask question about course material, we found that the 89% would prefer asking other classmates for clarity, rather than asking in lecture, or sending an email to the professor or TA. 
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                  <br><br>
                    <hr class="featurette-divider">
                    <figure> 
                        <p> <img  class=scaled src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be3c908522969ae078b23/1553720270331/findings.png?format=750w" style="width:100%">
                          <figcaption> Figure 1. Survey results on how students stay updated on school
                            </figcaption>
                        </figure>
                    <hr class="featurette-divider">

                </div>
          </div>

          <h5><span class="text-muted">How students organize</span></h5>
            <ul class="bulletStyle"> <li> Students often have to find a way to juggle school, clubs, social activities, work, and much more. Results of our survey showcase that 67% of responders are involved in some form of extracurricular activity on campus with much of the information relayed through social media outlets such as Facebook and Instagram. When asked how were they able to keep track of their schedules and deadlines, there were numerous responses detailing that these students would much rather keep a mental note of short term tasks, whereas long term goals or activities were noted and stored for later. 
            </li>
          </ul>

          <div class="row">
              <div class="column-66 col-md-6">

                <h5><span class="text-muted">Working as a group </span></h5>
              
                  <ul class="bulletStyle"> <li>Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                    <hr class="featurette-divider">
                  
                    <figure> 
                        <p> <img  class=scaled src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be468f9619a023e4324d2/1553720428368/findings2.png?format=750w" style="width:100%">
                          <figcaption> Figure 2. This bar chart shows the challenges of working in groups in college.
    
                            </figcaption>
                        </figure>

                    <hr class="featurette-divider">


                </div>

                
          </div>
          <h5><span class="text-muted">Working as a group</span></h5>
          <ul class="bulletStyle"> <li> Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
            </li>
          </ul>

          <h5><span class="text-muted">Working together physically vs. working virtually </span></h5>
          <ul class="bulletStyle"> <li>When working as a group, interviewees do not mind either collaborating in-person on online, as long as progress is being made. Although feedback is instantaneous when working in person as one interviewee noted, working online helps alleviate the difficulties of scheduling a time to meet all at once through the usage of collaboration tools like Google and chat applications. 
            </li>
          </ul>

          <h5><span class="text-muted">How often Canvas is used </span></h5>
          <ul class="bulletStyle"> <li> When asked about Canvas itself, the survey indicates that 64.3% of respondents use Canvas 1-5 times a day. The top three tasks that these respondents use within canvas include checking their assignment, viewing course material, and viewing their grades. 26 out of the 28 (92.9%) respondents indicated that these the most used tasks on Canvas. When asked about a which particular tab that is most useful within Canvas, one interviewee indicated that the modules tab is “broken down by weeks which is very helpful” and that it also includes “the ability to view files all in one spot.” 
            </li>
          </ul>

          
          <h5><span class="text-muted">Other frustrations with Canvas</span></h5>
          <ul class="bulletStyle"> <li>Features that our respondents felt that was frustrating was the peer review section of Canvas. One interviewee detailed that the feature “was confusing on how you inputted your comment and making sure that it send through” as well as “accessing their work”. Another explained that “you are only restricted in viewing in under the canvas display which can be annoying.” In addition, our respondents felt that they felt that their canvas experience could be maximized if they were able to learn and experience other unused features such as the Inbox, Calendar, and Groups tabs.
            </li>
          </ul>

          
                
      </div>
  
<!-- USABILITY TESTING -->
      <div class="container card">
          <div class="row">
              <div class="column-66 col-md-10">

                <h2 class="mt-4"> Usability Testing </h2>
                <h5><span class="text-muted">Description of Methods</span></h5>
              
                  <ul class="bulletStyle"> <li> Our usability testing involved 2 methods: cognitive walkthrough and usability test. 
                    </li>
                  </ul>
              </div>
                
          </div>

          <div class ="row">
              <div class="column-66 col-md-10 col-sm-10">
                <h5><span class="text-muted">Cognitive Walkthrough</span></h5>
                  <ul class="bulletStyle"> <li> For our cognitive walkthrough, all members of the group collaborated to go through a series of tasks in the system. At every task, we answered questions that focused on the visibility of elements and signifiers in the user interface and the interface’s effectiveness in communicating the purpose of those elements and the necessary actions required to accomplish each (sub)goal in the task. As a group we facilitated roles with one facilitator monitoring the course of the conversation, a scribe who took notes on the conversation, and participants who would discuss each task. 
                </li>
                </ul>

                <u> Tasks utilzied in Cognitive Walkthrough </u>
                <ul class="textIndent"> <li> Submit and write peer review comments</li>
                  <li> Post on discussion board </li>
                  <li> Create a group </li>
                  </ul>
              </div>
          </div>

        <div class ="row">
            <div class="column-66 col-md-10 col-sm-10">
              <h5><span class="text-muted"> Thnk-Aloud Usability Test </span></h5>
                <ul class="bulletStyle"> <li> Our think-aloud usability tests required actual participants, users (both regular and novices) of the system, to complete several tasks within the system, which took around 30 - 45 minutes. While progressing through the task, they were to explain their thought processing out loud. The facilitator would encourage the user to speak their thoughts while the notetaker would observe and record the user. After the user informed us that they were done, we would move on to the next task. Each user’s task was recorded via screen capture and timed.  Afterwards, they filled out the post-test questionnaire provided to measure their satisfaction of Canvas.
              </li>
              </ul>

              <u> Task utilized in Usability Test </u>
              <ul class="textIndent"> <li> Submit post on discussion board                </li>
                <li> Locate and conduct a peer review assignment </li>
                <li> Adjust notification preference </li>
                <li> Submit a message through the Inbox feature</li>
                <li> Create a group </li>
                <li>Submit an Assignment</li> 
                </ul>
            </div>
        </div>
        <hr class="featurette-divider">
  </div>
  
  <div class="container card">

        <h2 class="mt-4"> Findings: Usability Issues </h2>

          <div class="row">
              <div class="column-66 col-md-8">

                <h5><span class="text-muted">Filtering for assignments </span></h5>
              
                  <ul class="bulletStyle"> <li>None of our participants used the search bar titled “Search for Assignment” or the filter buttons of “Show by Date” or “Show by Type” shown on Figure 3. There is no adequate way to quickly search and select target items; often, users have to resort to scrolling through and scanning a long list of items. Most participants relied heavily on Command-F to find their target assignments after struggling to scroll up and down to search for their particular assignment. 
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-4">
                   
                   <figure> 
                    <p> <img  class=scaled src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be6925a8bfb0001c0b09f/1553720983325/1.png?format=500w" style="width:100%">
                      <figcaption> Figure 3. These two tools were largely ignored when searching for assignments.

                        </figcaption>
                    </figure>
                </div> 
          </div>
          <hr class="featurette-divider">

          <div class ="row">
              <div class="column-66 col-md-10 col-sm-10">
                <h5><span class="text-muted" style="text-align:center">Difficulty in the Locating and Poor Visibility of Course Material</span></h5>
                  <ul class="bulletStyle"> <li> Most users had difficulty accessing and conducting a peer review within Canvas. The average time it took our all of participants to finish the peer review lasted for 7:55 minutes. Although there is a tab that allows the ability to view peer reviews within the home page of the course, half the participants tried to locate the peer review by searching for this under the ‘Assignment’ tab. When users do decide to go onto the ‘assignment’ tab many utilized the Control-F feature to find the peer review. There is no distinction between which assignments are needed for peer review within the ‘Assignments’ tab.
                </li>
                </ul>
              </div>
          </div>
          <hr class="featurette-divider">


          <div class="row">

              <div class ="column-66 col-md-4">
                   
                  <figure> 
                   <p> <img  class=scaled src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be7621905f4900a49455b/1553721191510/2.png?format=500w" style="width:100%">
                     <figcaption> Figure 4. Located at the top right corner with only the color of its font to slightly stand out, the Rubric is hidden from immediate view.
                       </figcaption>
                   </figure>
               </div> 


              <div class="column-66 col-md-8">

                <h5><span class="text-muted leftText">Difficulty locating the Rubric                  </span></h5>
              
                  <ul class="bulletStyle"> <li> While some users were able to locate the rubric for the peer reviews, others struggled to find it immediately. One user, a novice, after leaving the assignment page and frantically searching through other pages, asked why the rubric was “so tiny” when she finally found it. This issue can be seen on Figure 4. 
                    </li>
                  </ul>
              </div>
          </div>

          <hr class="featurette-divider">

          <div class="row">
              <div class="column-66 col-md-8">

                <h5><span class="text-muted">Searching for students in Creating a Group  </span></h5>
              
                  <ul class="bulletStyle"> <li>When it comes to searching for particular peers in a class, for example in group creation), it was frustrating for some to scroll up and down to find their peer’s name as shown on Figure 5. One participant added how it would be helpful if there was some search bar to help her more easily filter and find the peer she needed when doing the group creation task (task #5).
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-4">
                   
                   <figure> 
                    <p> <img  class=scaled src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be7c1ec212d54194e0aae/1553721300616/3.png?format=750w" style="width:100%">
                      <figcaption> Figure 5. This screenshot demonstrates how users can create groups on Canvas. In a long list of peers, it would be difficult to find a target peer.
                        </figcaption>
                    </figure>
                </div> 
          </div>


          <h5 class="mt-4"> Other problems with canvas </h5>

          <div class="row">
              <div class="column-66 col-md-10">

                <h5><span class="text-muted">Poor treatment of icons/contents for the Notifications Page & Reply Button   </span></h5>
              
                  <ul class="bulletStyle"> <li>The legend which details the meaning of the icons for the Notifications page did not immediately stand out for a lot of the participants, but it was eventually recognized. This could be due to the fact that the contents/icons in the legend are in a gray color which fails to stand out among the other icons which were in the same color as all of the fonts on the same page. One participants mentioned that it would help if the legend stood out through color. Another area where the treatment of the element caused an issue, though minor and not as common, is the Reply button on the discussion post. It took a bit longer for some people to notice the Reply button and through our evaluation, we found that the Reply Button did not stand out due to the fact that it was the same color as the background and did not physically look like a clickable button. 
                    </li>
                  </ul>
              </div>
          </div>

          <div class="row">
              <div class="column-66 col-md-10">

                <h5><span class="text-muted">Placement of content when Canvas window shrinks              </span></h5>
              
                  <ul class="bulletStyle"> <li> When the page is half screen information is not easily visible and have to scroll all the way to the bottom. Especially visible on assignment writeups. 
                    </li>
                  </ul>
              </div>
          </div>

          <div class="row">
              <div class="column-66 col-md-10">
                <h5><span class="text-muted">Slow/delayed pop-up of Icon Labels                  </span></h5>
                  <ul class="bulletStyle"> <li> A few of the peer review tool icons were not easily understood and all of the participants had to hover over the icons and wait for a label of the icon name to appear to understand what it was. One participant hovered then quickly gave up when the label did not appear, assuming that there was none. This poor feedback created an inconvenience for the participants thought did not entirely hinder their use of the tools.
                    </li>
                  </ul>
              </div>
          </div>


          
                
      </div>


      <div class="container card">

          <h2 class="mt-4"> Redesign </h2>
  
            <div class="row">
                <div class="column-66 col-md-10">
  
                  <h5><span class="text-muted">The three main features of Canvas that have been redesigned are:  </span></h5>
                
                    <ul class="textIndentR"> <li> Peer Review </li>
                      <li> Page Navigation </li>
                      <li> Discussion Board </li>
                    </ul>
                </div>
            </div>


            <hr class="featurette-divider">
  
            <div class ="row">
                <div class="column-66 col-md-10 col-sm-10">
                  <h5><span class="text-muted" style="text-align:center">Sketches</span></h5>
                </div>
            </div>

            
            <div class="row">

                <div class="column-66 col-md-5">
  
                    <h5><span class="text-muted leftText">Peer Review Sketches:   </span></h5>
                  
                      <ul class="bulletStyle"> <li> The Peer Review process contained many aspects that could be improved upon according to the group. It was determined that the peer review page could be more distinguishable from the original assignment, have better indicators as to whether a peer review has been completed or not, should eliminate unnecessary tools and further clarify the tools that are present, and improve on the overall visibility of page elements.
                        </li>
                      </ul>

                  <h5><span class="text-muted leftText">Discussion Board Sketches:                    </span></h5>
                  
                  <ul class="bulletStyle"> <li> For the discussion board we used elements of each other’s sketches to determine what we wanted for our redesign. Our main thing was to separate between assignment and discussion based responses. We utilized inspiration from other web forums such as Piazza to produce our redesign. Through careful consideration and input from our team members, we feel that this redesign will help elevate our user’s experience. 
                    </li>
                  </ul>
                </div>

              
              <div class="column-66 col-md-7"> 
                  <br><br><br><br><br>
                  <app-slider> </app-slider>

              </div>

              </div>

             
            <div class="row">
                <div class="column col-md-10">
                    <h5><span class="text-muted leftText">Navigation/Home Page Sketches                    </span></h5>
                  
                    <ul class="bulletStyle"> <li>For the page navigation of Canvas, it was determined that the two sidebar menus (one menu for the particular class, and one menu for Canvas as a whole), needed to be separated out and have unnecessary, unused features eliminated to encourage smooth navigation and lessen confusion. 
                      </li>
                    </ul>
                </div>
            </div>
  
  
            <h5 class="mt-4"> Other problems with canvas </h5>
  
            <div class="row">
                <div class="column-66 col-md-10">
  
                  <h5><span class="text-muted">Poor treatment of icons/contents for the Notifications Page & Reply Button   </span></h5>
                
                    <ul class="bulletStyle"> <li>The legend which details the meaning of the icons for the Notifications page did not immediately stand out for a lot of the participants, but it was eventually recognized. This could be due to the fact that the contents/icons in the legend are in a gray color which fails to stand out among the other icons which were in the same color as all of the fonts on the same page. One participants mentioned that it would help if the legend stood out through color. Another area where the treatment of the element caused an issue, though minor and not as common, is the Reply button on the discussion post. It took a bit longer for some people to notice the Reply button and through our evaluation, we found that the Reply Button did not stand out due to the fact that it was the same color as the background and did not physically look like a clickable button. 
                      </li>
                    </ul>
                </div>
            </div>
  
            <div class="row">
                <div class="column-66 col-md-10">
  
                  <h5><span class="text-muted">Placement of content when Canvas window shrinks              </span></h5>
                
                    <ul class="bulletStyle"> <li> When the page is half screen information is not easily visible and have to scroll all the way to the bottom. Especially visible on assignment writeups. 
                      </li>
                    </ul>
                </div>
            </div>
  
            <div class="row">
                <div class="column-66 col-md-10">
                  <h5><span class="text-muted">Slow/delayed pop-up of Icon Labels                  </span></h5>
                    <ul class="bulletStyle"> <li> A few of the peer review tool icons were not easily understood and all of the participants had to hover over the icons and wait for a label of the icon name to appear to understand what it was. One participant hovered then quickly gave up when the label did not appear, assuming that there was none. This poor feedback created an inconvenience for the participants thought did not entirely hinder their use of the tools.
                      </li>
                    </ul>
                </div>
            </div>
  
  
            
                  
        </div>
  
  




</body>