<!DOCTYPE html>
<html lang="en">
<head>
	  <meta charset="utf-8">

	<title> Jason Almaraz | User Experience Designer </title>
	<!-- Boostrap CSS from a CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


     <!--Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

</head>

<body style="background-color:#ECECEC">
    <div class="row featurette">
        <div class="col-md-7"> 
            <h2 class="leftText"> Canvas Redesign </h2>
            <p class="lead">Canvas is an educational management system that allows schools K-12 and universities to organize their classes so that students have access to class information and assignments, which are managed by staff. It provides features such as a discussion forum, inbox, calendar, and upcoming tasks for communication and convenience.
        
             </p>
          </div>
        <div class="col-md-5">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500" ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto canvas"  src="http://www.mtsac.edu/olsc/newsfeed/images/canvas_logo_vert_full.png" height="250" width="250" Alt="SRS image" > 
          <br><br>
  
          </div>
      </div>

      <div class="container card">

          <h1>Key Results and Recommendations</h1>
          <p>
              In our redesign, we have made changes in:  
          </p> 
              <ul> 
                <li>Improving the navigation to the peer review page and the visibility of elements on that page. </li>
                
                <li>Improvements on ways of engagement in the Discussion board </li>

                
               <li> Improvements on the intuitiveness of the multi-level navigation bar section. </li>
                
               <li>Standardized the homepage with weekly categories </li>
            </ul>
                
          <h2 class="mt-4">User Research  </h2>
          <h5><span class="text-muted">Description of Methods.</span></h5>
          
          <p> <strong>Interivews</strong> </p>
          <ul class="bulletStyle"> <li> The primary method used in this study was interviews. We aimed to interview participants of our target population: university students. Each of our group members contacted two university students whom we had connections with and requested a 30 minute to an hour time for interview. Interviews were conducted in a 2-to-1 format, where one person from the group was responsible for being the lead interviewer and another person was the notetaker, both interviewing the participant. Each interview started with the groups members giving the participants an interview consent form to agree and sign. Then the lead interviewer proceeded with the interview protocol, and the designated note taker recorded the answers of the interviewee on a typed document. Due to conflicting schedules some interviews were done on a 1 to 1 format, with an moderator both asking questions and taking note of answers. 
            </li>
          </ul>

          <p> <strong>Surveys</strong> </p>
          <ul class="bulletStyle"> <li>  The secondary method of research was gathering data through surveys. We created a survey based on our interview protocol, prompting similar types of responses. The survey was created on a Google Forum and posted on public, student-based pages on Facebook. The survey results provided the group with mostly quantitative data on the target population and their attitudes toward Canvas.
              </li>
          </ul>
      </div>

      <div class="container card">
          <div class="row">
              <div class="column-66 col-md-6">

                <h2 class="mt-4"> Findings </h2>
                <h5><span class="text-muted">How students look for answers</span></h5>
              
                  <ul class="bulletStyle"> <li> Although course information is displayed online for all to view, some information may still seem unclear. For those who would like to further ask question about course material, we found that the 89% would prefer asking other classmates for clarity, rather than asking in lecture, or sending an email to the professor or TA. 
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                  <br><br>
                    <hr class="featurette-divider">
                  
                    <img src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be3c908522969ae078b23/1553720270331/findings.png?format=750w" style="width:100%">
                    <hr class="featurette-divider">
                </div>

                
          </div>

          <h5><span class="text-muted">How students organize</span></h5>
            <ul class="bulletStyle"> <li> Students often have to find a way to juggle school, clubs, social activities, work, and much more. Results of our survey showcase that 67% of responders are involved in some form of extracurricular activity on campus with much of the information relayed through social media outlets such as Facebook and Instagram. When asked how were they able to keep track of their schedules and deadlines, there were numerous responses detailing that these students would much rather keep a mental note of short term tasks, whereas long term goals or activities were noted and stored for later. 
            </li>
          </ul>

          <div class="row">
              <div class="column-66 col-md-6">

                <h5><span class="text-muted">Working as a group </span></h5>
              
                  <ul class="bulletStyle"> <li>Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                    <hr class="featurette-divider">
                  
                    <img src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be468f9619a023e4324d2/1553720428368/findings2.png?format=750w" style="width:100%">
                    <hr class="featurette-divider">
                </div>

                
          </div>
          <h5><span class="text-muted">Working as a group</span></h5>
          <ul class="bulletStyle"> <li> Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
            </li>
          </ul>

          <h5><span class="text-muted">Working together physically vs. working virtually </span></h5>
          <ul class="bulletStyle"> <li>When working as a group, interviewees do not mind either collaborating in-person on online, as long as progress is being made. Although feedback is instantaneous when working in person as one interviewee noted, working online helps alleviate the difficulties of scheduling a time to meet all at once through the usage of collaboration tools like Google and chat applications. 
            </li>
          </ul>

          <h5><span class="text-muted">How often Canvas is used </span></h5>
          <ul class="bulletStyle"> <li> When asked about Canvas itself, the survey indicates that 64.3% of respondents use Canvas 1-5 times a day. The top three tasks that these respondents use within canvas include checking their assignment, viewing course material, and viewing their grades. 26 out of the 28 (92.9%) respondents indicated that these the most used tasks on Canvas. When asked about a which particular tab that is most useful within Canvas, one interviewee indicated that the modules tab is “broken down by weeks which is very helpful” and that it also includes “the ability to view files all in one spot.” 
            </li>
          </ul>

          
          <h5><span class="text-muted">Other frustrations with Canvas</span></h5>
          <ul class="bulletStyle"> <li>Features that our respondents felt that was frustrating was the peer review section of Canvas. One interviewee detailed that the feature “was confusing on how you inputted your comment and making sure that it send through” as well as “accessing their work”. Another explained that “you are only restricted in viewing in under the canvas display which can be annoying.” In addition, our respondents felt that they felt that their canvas experience could be maximized if they were able to learn and experience other unused features such as the Inbox, Calendar, and Groups tabs.
            </li>
          </ul>

          
                
      </div>
  
<!-- USABILITY TESTING -->
      <div class="container card">
          <div class="row">
              <div class="column-66 col-md-6">

                <h2 class="mt-4"> Usability Testing </h2>
                <h5><span class="text-muted">How students look for answers</span></h5>
              
                  <ul class="bulletStyle"> <li> Although course information is displayed online for all to view, some information may still seem unclear. For those who would like to further ask question about course material, we found that the 89% would prefer asking other classmates for clarity, rather than asking in lecture, or sending an email to the professor or TA. 
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                  <br><br>
                    <hr class="featurette-divider">
                  
                    <img src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be3c908522969ae078b23/1553720270331/findings.png?format=750w" style="width:100%">
                    <hr class="featurette-divider">
                </div>

                
          </div>

          <h5><span class="text-muted">How students organize</span></h5>
            <ul class="bulletStyle"> <li> Students often have to find a way to juggle school, clubs, social activities, work, and much more. Results of our survey showcase that 67% of responders are involved in some form of extracurricular activity on campus with much of the information relayed through social media outlets such as Facebook and Instagram. When asked how were they able to keep track of their schedules and deadlines, there were numerous responses detailing that these students would much rather keep a mental note of short term tasks, whereas long term goals or activities were noted and stored for later. 
            </li>
          </ul>

          <div class="row">
              <div class="column-66 col-md-6">

                <h5><span class="text-muted">Working as a group </span></h5>
              
                  <ul class="bulletStyle"> <li>Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
                    </li>
                  </ul>
              </div>

                <div class ="column-66 col-md-6">
                    <hr class="featurette-divider">
                  
                    <img src="https://static1.squarespace.com/static/5c9acc54f4e53176d6f6ca73/t/5c9be468f9619a023e4324d2/1553720428368/findings2.png?format=750w" style="width:100%">
                    <hr class="featurette-divider">
                </div>

                
          </div>
          <h5><span class="text-muted">Working as a group</span></h5>
          <ul class="bulletStyle"> <li> Working as a cohesive group is a critical skill that is learned and developed while in college. When asked about their experience working as a group, students who were surveyed and interviewed detailed the barriers they face when working as a team. The top three noted difficulties in working in a group involves aligning schedules with each others (60.7%), keeping communication (57.1%) and making decisions together (50%) shown on Figure 2.
            </li>
          </ul>

          <h5><span class="text-muted">Working together physically vs. working virtually </span></h5>
          <ul class="bulletStyle"> <li>When working as a group, interviewees do not mind either collaborating in-person on online, as long as progress is being made. Although feedback is instantaneous when working in person as one interviewee noted, working online helps alleviate the difficulties of scheduling a time to meet all at once through the usage of collaboration tools like Google and chat applications. 
            </li>
          </ul>

          <h5><span class="text-muted">How often Canvas is used </span></h5>
          <ul class="bulletStyle"> <li> When asked about Canvas itself, the survey indicates that 64.3% of respondents use Canvas 1-5 times a day. The top three tasks that these respondents use within canvas include checking their assignment, viewing course material, and viewing their grades. 26 out of the 28 (92.9%) respondents indicated that these the most used tasks on Canvas. When asked about a which particular tab that is most useful within Canvas, one interviewee indicated that the modules tab is “broken down by weeks which is very helpful” and that it also includes “the ability to view files all in one spot.” 
            </li>
          </ul>

          
          <h5><span class="text-muted">Other frustrations with Canvas</span></h5>
          <ul class="bulletStyle"> <li>Features that our respondents felt that was frustrating was the peer review section of Canvas. One interviewee detailed that the feature “was confusing on how you inputted your comment and making sure that it send through” as well as “accessing their work”. Another explained that “you are only restricted in viewing in under the canvas display which can be annoying.” In addition, our respondents felt that they felt that their canvas experience could be maximized if they were able to learn and experience other unused features such as the Inbox, Calendar, and Groups tabs.
            </li>
          </ul>

          
                
      </div>
  
  




</body>